*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    background-color: tomato;
    color: white;
}

h3 {
    margin-bottom: 10px;
}

span {
    margin-bottom: 10px;
    color: lightpink;
    font-size: small;
}

/* formulario */

form{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 2%;
    padding: 2px;
    border: 2px solid orange;
    border-radius: 4px;
}

input {
    margin: 5px 0;
}

textarea {
    margin: 5px 0;
    height: 100px;
    resize: none;
}

input, textarea {
    padding: 5px 3px;
    border: 0;
    border-radius: 2px;
    outline: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button{
    padding: 5px;
    border: 0;
    border-radius: 2px;
    margin-top: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: orange;
    color: white;
    cursor: pointer;
}


/* Validación Error */
.errorInput{
    border: 2px solid red;
}

.validoInput{
    border: 2px solid greenyellow;
}